body{
    background-image: url("./darkbg.jpg");
    background-size: 100%;
}
.maindiv{
    background:rgba(190, 49, 49, 0.132);
    border-radius: 10%;
    width: 200px;
    padding: 5%;
    color: rgb(248, 240, 240);
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    /* opacity: 0.3; */
}
.maindiv:hover{
    letter-spacing: 4px;
}
p{
    color: antiquewhite;
}